.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  background: #010406;
  z-index: 999;
  height: 10vh;
}
.hum {
  display: none;
}

.nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav ul li {
  list-style-type: none;
  margin-right: 1.5rem;
  position: relative;
  padding-bottom: 0.2rem;
}
.nav ul li a {
  font-weight: 400;
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
}
.nav ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: 0.5s ease;
}
.nav ul li:hover::after {
  width: 100%;
}
@media (max-width: 600px) {
  .nav ul {
    display: none;
  }
  .hum {
    display: block;
  }
  .hum span {
    display: block;
    height: 3px;
    width: 40px;
    background: #fff;
    margin-bottom: 0.5rem;
  }
}
