.preloader {
  width: 100vw;
  height: 100vh;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  font-weight: 900;
}
.heroSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.heroSection h2 {
  color: #fff;
  font-size: 5rem;
  margin-top: 10rem;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 3%;
  background: url("/gif5.gif");
  background-position: center;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.herosectionLeft {
}
.herosectionRight {
  background: url("/blob.gif");
  background-repeat: no-repeat;
}
.socialIcons {
  margin: 4rem 0;
}
.socialIcons svg {
  color: #fff;
  margin-right: 3rem;
  font-size: 3.5rem;
  transition: all 0.5s ease;
}
.socialIcons svg:hover {
  color: #e1e50b;
  cursor: pointer;
}
.aboutContent {
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aboutTypography {
  width: 70%;
  backdrop-filter: blur(17px) saturate(0%);
  -webkit-backdrop-filter: blur(17px) saturate(0%);
  background-color: rgba(255, 255, 255, 0.02);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  padding: 2rem;
}
.aboutTypography p {
  font-size: 1.5rem;
  line-height: 30px;
  color: #fff;
}
.avatarContainer img {
  border-radius: 10px;
}
.techIcons {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.services {
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 3rem;
}
.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  margin-top: 3rem;
}
.contactContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 30vh;
  justify-content: space-around;
}
.contactContent p {
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  margin-top: 5rem;
  width: 70%;
  line-height: 3rem;
}

@media (max-width: 600px) {
  .preloader {
    font-size: 2rem;
  }
  .aboutContent {
    flex-direction: column;
  }
  .aboutTypography {
    width: 100%;
  }
  .techIcons {
    width: 100%;
  }
  .projects {
    grid-template-columns: 1fr;
  }
  .services {
    grid-template-columns: 1fr;
  }
  .aboutContent {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
  }
  .aboutTypography {
    width: 100%;
    margin-top: 2rem;
  }
  .aboutTypography p {
    font-size: 1.5rem;
    line-height: 30px;
    color: #fff;
  }
  .avatarContainer img {
    border-radius: 10px;
  }
  .techIcons {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    width: 50%;
  }
  .heroSection h2 {
    font-size: 4rem;
    text-align: center;
    width: 100%;
    margin-top: 10rem;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 3%;
  }
  .heroSection {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .contactContent p {
    width: 100%;
    margin-bottom: 3rem;
  }
}
@media only screen and (min-width: 600px) {
  .services {
    grid-template-columns: 1fr 1fr;
  }
  .projects {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 900px) {
  .services {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .projects {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
