.card {
  min-height: 35rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.5s ease;
}
.card:hover {
  filter: sepia(80%);
}
.cardImage {
  flex: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.cardTypography {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.left h3 {
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  line-height: 3rem;
}
.techs {
  display: flex;
  justify-content: space-between;
}
.techs p {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 400;
}
.right svg {
  font-size: 3rem;
  margin-right: 1rem;
  color: #fff;
  transition: 0.5s ease;
  cursor: pointer;
}
.right svg:hover {
  color: #f7fc01;
}
